.container-layout {
  width: 100%;
  min-height: 100vh;
}

.container-main {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 1.5rem 1rem;
  min-height: calc(100vh - 70px);
}

@media (max-width: 640px) {
  .container-main {
    padding: 1rem 0.75rem;
  }
}
